.Contact {
  text-align: center;
  background-color: #cc0066;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

button {
  display: inline-flex;
  align-items: center;
  padding: 15px;
  color: #ececec;
  border: 0px solid;
  border-radius: 40px;

  :hover {
    color: white;
  }
}
